*{
  margin: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate {
  display: flex;
  justify-content: center;
}

.rate__star {
  width: 50px;
}